/*common*/
#wrap{text-align: center;}
#wrap .content{display: inline-block;width:1360px;}
 .content{width: 1020px; margin:0 auto;}
 .view .user{display: inline-block; float:left;}
 .view .user .user_img img{display: inline-block;border:1px solid black;width: 50px;height: 50px;border-radius: 50px;}
 .view .user span{vertical-align: middle;}
 .view #count{float: right; display:inline-block; padding-top: 35px;}
 .view .category{margin:10px 0;display: inline-block;}
 .view .category span{float: left;font-weight:500;color: #00939b;margin:11px;font-size: 19px;}
 .view .course{ margin-top:50px;display:inline-block;width:100%}
 .view #mapRoom{ height:500px;}

 table, td, th {
  border : none;
  text-align:center;
};

* {
	box-sizing:border-box;
}

body {
	font-size:18px;

	line-height:1.5em;
}

a {
	text-decoration:none;
}

.modal {
	position:fixed;
	background-color:rgba(0,0,0,0.4);
	top:0;
	left:0;
	height:100vh;
	width:100%;
	display:none;
	z-index: 5;
}
.msgmodal {
	position:fixed;
	background-color:rgba(0,0,0,0.4);
	top:0;
	left:0;
	height:100vh;
	width:100%;
	display:none;
	z-index: 5;
}
.roommodal {
	position:fixed;
	background-color:rgba(0,0,0,0.4);
	top:0;
	left:0;
	height:100vh;
	width:100%;
	display:none;
	z-index: 5;
}
.roompwdmodal {
	position:fixed;
	background-color:rgba(0,0,0,0.4);
	top:0;
	left:0;
	height:100vh;
	width:100%;
	display:none;
	z-index: 5;
}

.modal-content{
	background-color:#fff;
	width:350px;
	border-radius:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:30px;
	box-shadow:0 0 15px rgba(0,0,0,0.15);
	text-align:center;
}
.modal-msgcontent{
	background-color:#fff;
	width:350px;
	border-radius:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:30px;
	box-shadow:0 0 15px rgba(0,0,0,0.15);
	text-align:center;
}
.modal-roomcontent{
	background-color:#fff;
	width:350px;
	border-radius:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:30px;
	box-shadow:0 0 15px rgba(0,0,0,0.15);
	text-align:center;
}
.modal-roompwdcontent{
	background-color:#fff;
	width:350px;
	border-radius:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:30px;
	box-shadow:0 0 15px rgba(0,0,0,0.15);
	text-align:center;
	background-color:#ebffedee;
}

.btn-close {
	position : absolute;
	top:15px;
	right:15px;
}
.btn-msgclose {
	position : absolute;
	top:15px;
	right:15px;
}
.btn-roomclose {
	position : absolute;
	top:15px;
	right:15px;
}
.btn-roompwdclose {
	position : absolute;
	top:15px;
	right:15px;
}

.btn-edit {
	background-color:#616BEE;
	color:#fff;
	border-radius:5px;
	font-size:14px;
	padding:7px;
	display:block;
}
.btn-send {
	background-color:#616BEE;
	color:#fff;
	border-radius:5px;
	font-size:14px;
	padding:7px;
	display:block;
}
.btn-make {
	background-color:#616BEE;
	color:#fff;
	border-radius:5px;
	font-size:14px;
	padding:7px;
	display:block;
}

.mkroom {
  	position: sticky;
  	top: 0; /* 클래스 sticky인 요소 안에서 top값이 0이되면 sticky를 적용 */
  	background-color:#616BEE;
	color:#fff;
	border-radius:5px;
	border:0;
	outline:0;
	padding:7px;
	text-align : center;
}

#section {
   width:700px;
   height:500px;
   text-align:left;
   float:left;
   padding:10px;
   background-color:#f3f3f3ee;
   font-size:14px;
}
#section .tt{
	width:680px;
	height:430px;
	overflow-y: scroll;
}
/* 지도 마커라인 긋기 */
.dot {overflow:hidden;float:left;width:12px;height:12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}    
.dotOverlay {position:relative;bottom:-45px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#ffffffb8;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
.number {font-weight:bold;color:#ee6152;}
.dotOverlay:after {content:'';position:absolute;transform: rotate(180deg);margin-left:-6px;left:50%;bottom:36px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:50px;}
.distanceInfo:after {content:none;}

/* 코스 가로 스크롤*/
.view .write_detail{background:#eee;width:100%;overflow-x: scroll;}
.view .write_detail .scroll{width:2190px}
.view .write_detail .set{margin:20px;padding:20px;background:#fff;width:400px;float:left;margin-right:15px}
.view .write_detail .set textarea{resize:none}
.view .write_detail .set h5{font-size:22px;font-family:'GmarketSansMedium','sans serif';margin:10px 0 21px}
.view .write_detail .set .map_list{margin-bottom:8px}
.view .write_detail .set .info{display:inline-block;width:90%;text-align:left}
.view .write_detail .set .info span{display:block;margin-bottom:11px;height:36px}
.view .write_detail .set .info span.tel{height:auto}
.view .write_detail .set .info span i{margin-right:7px;color:#00939b;margin-left:-19px}
.view .write_detail .set .course_delete{display:inline-block;border:1px solid #000;height: 33px;line-height: 31px;padding: 0 20px;font-size: 16px;border-radius:50px;cursor: pointer}
.view .write_detail .set .course_delete:hover{background:#00939b;color:#fff;border-color:#00939b}
.view .write_detail #courseList{float:initial;overflow:hidden}
.view .write_detail #courseList li{display:inline-block;float:left;width:400px;background:#fff;padding:15px;margin-right:15px;height:80px}
.view .write_detail .seracLocation{display:inline-block;width:100%;border:1px solid #000;}
.view .write_detail .seracLocation input{border:none;display:inline-block;width:80%;float:left}
.view .write_detail .seracLocation button{border:none;display:inline-block;width:20%;float:right}
.view .write_detail .set textarea{width:100%;height:200px;border:2px solid #000}
.view .write_detail .set .pic_wrap{display:inline-block;width:100%;height:100px;margin:30px 0}
.view .write_detail .set .pic_wrap .pic{width:100px;float:left;height:100%;background:#eeeeee;margin-right:10px;position:relative;}
.view .write_detail .set .pic_wrap .pic input{position:absolute;width:100%;height:100%;top:0;left:0;opacity:0;cursor:pointer;z-index:2}
.view .write_detail .set .pic_wrap .pic img{width:100%;height:100px;object-fit: cover}
.view .write_detail .set .pic_wrap .pic .delete{position:absolute;display:inline-block;top:0;right:0;z-index:5;width:auto;transform: translate(50%,-50%);cursor:pointer}
.view .write_detail .set .pic_wrap .plus{float:left;line-height:100px}

/*진경css*/
.view .top{padding: 70px 0 20px;}
.view .title{font-weight: bold;font-size: 40px;}
.view .course .title{font-size: 27px;padding:30px 0 20px;}
.view .reply{background: #fff;margin:50px 0 80px;}
.view .reply input[type='text']{font-size: 20px;border:none;border: 2px solid #00939b;padding: 5px 20px;height: 60px;line-height: 60px;width: 80%;float: left;}
.view .reply #commentArea {display: inline-block;width: 100%;;}
.view .reply #commentArea .list{padding-top: 55px;}
.view .reply #commentArea .list .btn-sendclick{display: block;}
.view .reply #commentArea .list .btn-sendclick i{color:#00939b;margin-right: 5px}
.view .reply #commentArea .list .txt_l{padding:5px 10px;}
.view .reply #commentArea .list .replyList{color:#00939b;margin-left: 10px;}
.view .reply #commentArea .list .love{color:#00939b}
.view .reply #commentArea .list .messageBox{display: inline-block;width: 100%;margin-top: 15px;}
.view .reply #commentArea .list .messageBox #replyFrm754{display: inline-block;width: 100%;}
.view .reply #commentArea .list .messageBox #replyFrm754 .content2[type='text']{font-size: 15px;height: initial;line-height: initial;border-bottom: 2px solid #00939b}
.view .reply #commentArea .list .messageBox #replyFrm754 b{float: left;color: #00939b;}
.view .reply #commentArea .pagenate.clear{margin-top: 25px;}
.view .reply #commentArea>p{text-align: right;padding: 20px;}
.view .reply #commentArea>p span{font-size: 18px;}
.view .reply .replywrite {display: inline-block;width: 100%;padding: 16px;background:#00939b;}
.view .reply .replywrite a{display:inline-block;font-size: 24px;padding: 10px;color: #fff;}
